/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/hankengrotesk-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/hankengrotesk-variablefont_wght-webfont.woff")
      format("woff");
  font-style: normal;
}

/* Colors */

:root {
  /* Primary */
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients (header background) */
  --gradient-clr-light-slate-blue: hsl(252, 100%, 67%);
  --gradient-clr-light-royal-blue: hsl(241, 81%, 54%);

  /* Gradients (circle background) */
  --gradient-clr-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-clr-persian-blue: hsla(241, 72%, 46%, 0);
}

/* Basic styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(1rem, 14.091px + 0.5089vw, 1.125rem);
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  color: var(--clr-dark-gray-blue);
  background-color: var(--clr-white);
}

ul {
  list-style-type: none;
}

/* Test card component */

.test-card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  background-color: var(--clr-white);
}

.test-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(24px, 10.642px + 3.5623vw, 38px)
    clamp(55px, 49.283px + 1.5267vw, 61px) clamp(40px, 25.68px + 3.8188vw, 55px);
  text-align: center;
  background-color: var(--gradient-clr-light-royal-blue);
  background-image: linear-gradient(
    180deg,
    var(--gradient-clr-light-slate-blue) 0%,
    var(--gradient-clr-light-royal-blue) 100%
  );
  background-repeat: no-repeat;
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
}

.test-card__result {
  margin-block-end: clamp(1.5rem, 12.55px + 3.0534vw, 2.25rem);
  font-size: clamp(1.125rem, 12.275px + 1.5267vw, 1.5rem);
  font-weight: 800;
  color: var(--clr-light-lavender);
}

.test-card__score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: clamp(8.75rem, 82.749px + 15.2672vw, 12.5rem);
  block-size: clamp(8.75rem, 82.749px + 15.2672vw, 12.5rem);
  margin-block-end: clamp(1.5rem, 21.13px + 0.7654vw, 1.688rem);
  background-image: linear-gradient(
    180deg,
    var(--gradient-clr-violet-blue) 0%,
    var(--gradient-clr-persian-blue) 100%
  );
  background-repeat: no-repeat;
  border-radius: 50%;
}

.test-card__score-result {
  font-size: clamp(3.5rem, 40.733px + 4.0712vw, 4.5rem);
  font-weight: 800;
  color: var(--clr-white);
}

.test-card__score-max {
  font-weight: 700;
  color: var(--clr-light-lavender);
}

.test-card__status {
  margin-block-end: clamp(0.5rem, 2.275px + 1.5267vw, 0.875rem);
  font-size: clamp(1.5rem, 16.366px + 2.0356vw, 2rem);
  font-weight: 700;
  color: var(--clr-white);
}

.test-card__conclusion {
  color: var(--clr-light-lavender);
}

.test-card__summary-section {
  padding: clamp(24px, 10.642px + 3.5623vw, 38px)
    clamp(30px, 20.458px + 2.5445vw, 40px)
    clamp(30px, 14.733px + 4.0712vw, 46px);
}

.test-card__summary {
  margin-block-end: clamp(1.5rem, 20.184px + 1.0178vw, 1.75rem);
  font-size: clamp(1.125rem, 12.275px + 1.5267vw, 1.5rem);
  font-weight: 700;
}

.test-card__summary-list {
  margin-block-end: clamp(1.5rem, 6.824px + 4.5802vw, 2.625rem);
}

.test-card__summary-list-item:not(:last-child) {
  margin-block-end: 1rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  padding: 1.063rem 1rem 1rem;
  font-weight: 700;
  background-color: hsla(241, 40%, 82%, 0.5);
  border-radius: 10px;
}

.list-item--bg-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.list-item--bg-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.list-item--bg-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.list-item--bg-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.list-item__figure {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.icon {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.list-item__clr-reaction {
  color: var(--clr-light-red);
}

.list-item__clr-memory {
  color: var(--clr-orangey-yellow);
}

.list-item__clr-verbal {
  color: var(--clr-green-teal);
}

.list-item__clr-visual {
  color: var(--clr-cobalt-blue);
}

.list-item__score {
  color: hsl(257, 6%, 56%);
}

.list-item__value {
  color: var(--clr-dark-gray-blue);
}

.test-card__btn {
  inline-size: 100%;
  padding: 1.0625rem 1rem 1rem;
  color: var(--clr-white);
  background-color: var(--clr-dark-gray-blue);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.15s, background-image 0.15s;
}

.test-card__btn:hover,
.test-card__btn:focus-visible {
  background-color: var(--gradient-clr-light-royal-blue);
  background-image: linear-gradient(
    180deg,
    var(--gradient-clr-light-slate-blue) 0%,
    var(--gradient-clr-light-royal-blue) 100%
  );
  background-repeat: no-repeat;
}

.test-card__btn:active {
  background-color: hsl(241, 81%, 64%);
  background-image: linear-gradient(
    180deg,
    hsl(252, 100%, 77%) 0%,
    hsl(241, 81%, 64%) 100%
  );
}

/* Media queries */

@media (min-width: 768px) {
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 100vh;
    padding: 15px;
  }

  .test-card {
    flex-direction: row;
    max-inline-size: 736px;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 15px 25px 30px var(--clr-pale-blue);
  }

  .test-card__header {
    flex: 0 1 368px;
    padding: 38px 62px 55px 61px;
    border-end-start-radius: 0;
    border-start-end-radius: 32px;
  }

  .test-card__summary-section {
    flex: 1 1 auto;
  }
}
